@model MVCPetAdoption.Models.Species

@{
    ViewBag.Title = "Browse";
}

<h2>Browsing @Model.SpeciesName Species</h2>

<ul>
    @foreach (var pet in Model.Pets)
    {
        <li>
            @Html.ActionLink(pet.Name, "Details", new { id = pet.PetId })
        </li>
    }
</ul>

<div>
    @Html.ActionLink("Back to List of Species of Pets", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
