@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    The Wunder Pet charity is the leading animal adoption agency with
    the word "Wunder" in it.  We offer adoption listing services for <br />
    all kinds of animals.  Except kangaroos, never again.  Look over our
    many listing for free.  Register to adopt or list pets of your own.
</p>